# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Solana
target/
.anchor/
Cargo.lock

# Build artifacts
*.log

# Solidity
artifacts/
cache/
typechain-types/

# Next.js
.next/
out/

# Frontend
.turbo/
